.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logout {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: #0e0e0e;
  color: #fff;
}
.link {
  text-decoration: none;
  color: #fff;
}
