.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
label {
  font-size: 1.2rem;
}
input {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid grey;
  border-radius: 7px;
  font-family: inherit;
}
