.signup {
  max-width: 25rem;
  margin: 2rem auto;
  padding: 2rem;
  color: #fff;
  border-radius: 10px;
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8360c3,
    #2ebf91
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8360c3, #2ebf91);
}
.title {
  font-size: clamp(1.7rem, 1rem + 1.6368vw, 2.5rem);
  margin-bottom: 2rem;
  text-decoration: underline;
}
.button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 7px;
  color: antiquewhite;
  background-color: rgba(136, 29, 136, 0.86);
  border: none;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
